appdirs
comtypes
icalendar
numpy
Pillow
pycryptodome
XlsxWriter
pyttsx
pytz
reportlab
Twisted
xlrd
python-dateutil
psutil
paramiko
requests
lxml
setuptools
matplotlib
opencv-python
sqlalchemy
pystrich
mysqlclient
mailjet-rest